{%extends "base.html"%}
{%block content%}
<br><br><br>
<div class="container">
    <div class="alert alert-dark" role="alert">
        <h4 class="alert-heading">404 Error <i class="far fa-sad-cry"></i></h4>
        <p>Oops, it looks like the page you requested does not exist or is expired. Please check your url and try again
            or go back
            to our home page and find some interesting stories to read. If you are 100% sure that you entered the
            correct link, we will
            definitely follow up on the issue
        </p>
        <hr>
        <p class="mb-0">Nothing else to see here...</p>
    </div>
</div>

{%endblock%}